<div class="container"> <!-- or container-fluid -->
{{#each this}} 
{{#if isLocked}}
<button class="level locked" id="{{id}}">{{id}}</button>
{{else}}
<button class="level" id="{{id}}">{{id}}</button>
{{/if}}
{{/each}}
</div>

<!-- logout button-->