<div class="container">
    <!-- or container-fluid -->
    <div>
        <a id="btn-logout" class="btn btn-logout" href="#"><button class="btn btn-md btn-danger btn-block" type="submit">Log Out</button> </a>
    </div>
    <ul id="map">
        {{#each this}} {{#if isLocked}}
        <li>
            <div>
                <img src="./css/images/level-disabled.png" class="level disabled" id="{{level}}" />Level {{level}}
            </div>
        </li>
        {{else}}
        <li>
            <div>
                <img src="./css/images/level.png" class="level active" id="{{level}}" />Level {{level}}
            </div>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>