<div id="puzzle-site" class="container" oncontextmenu="return false;">
    <div id="puzzle">
        <div class="row">
            <div id='power'>
                <span id="total-points">{{points}}</span>/<span id="current-points">{{points}}</span></div>
            {{#each rowMinesCount}}
            <div class="initialize-col">{{this}}</div>
            {{/each}}
        </div>
        {{#each field}}
        <div class="row">
            <div class="initialize-row">{{lookup ../colMinesCount @index}}</div>
            {{#each this}}
            <div class='cell close'></div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div id="scores">
        <a id="quit-game" class="btn btn-logout" href="#/map"><button class="btn btn-md btn-warning btn-block" type="submit">Quit Game</button> </a>
        <table class="table">
            <h3>High Scores</h3>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{#each scores}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{points}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>



<!--buton for high score or just to show high score